<div class="container">
    <img src="./../../../assets/img/presentation-lively-utils.jpg" alt="">
    <div class="text-box">
        <h1>Sobre nosotros</h1>
        <div class="subtitle">
            <p>¡Bienvenido a Lively Utils, la plataforma todo-en-uno diseñada por <span style="font-weight: bold; cursor: pointer;">DevClub</span> para llevar tu experiencia como streamer al siguiente nivel!</p>
            <p>En Lively Utils, entendemos la importancia de hacer que tus transmisiones destaquen. Nuestra aplicación web ha sido cuidadosamente desarrollada con características exclusivas que potenciarán tu creatividad y te ayudarán a construir una gran comunidad alrededor de tu contenido.</p>
            <p>En DevClub, estamos apasionados por la creación de soluciones tecnológicas que inspiran y potencian a la comunidad de streamers. Únete a nosotros en esta emocionante travesía y descubre cómo Lively Utils y nuestras futuras aplicaciones pueden llevar tu contenido a nuevas alturas.</p>
            <p>¡Haz de cada transmisión una experiencia inolvidable con Lively Utils!</p>
        </div>
    </div>
</div>
