<div class="bg">
    <div class="wrapper">
      <div class="table basic">
        <div class="head_tab"><h2>Lively Utils<br>Gratuito</h2></div>
        <div class="aj_p"><p>Solucion ideal para los que recien comienzan.</p></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">0<span style="font-size:12px">/mes</span></span>
  
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <div class="btn"><button>Comenzar!</button></div>
          <p class="aj_des">Completamente gratis!</p>
          <li>
            <span class="list-name">✔️ Lively Utils Discord</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de reacciones</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name"> ❌Confesiones</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">❌ Twitch Bot</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
        </ul>
        <div><span class="icon cross"><i class="fa fa-angle-down"></i></span></div>
      </div>
      <div class="table premium">
        <div class="head_tab"><h2>Plan <br>Premium</h2></div>
        <div class="aj_p"><p>Plan perfecto para uso de streamer</p></div>
        <div class="ribbon"><span>Mejor precio</span></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">10<span style="font-size:12px">/mes</span></span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <div class="btn"><button>Comenzar!</button></div>
          <li>
            <span class="list-name">✔️ Bot de discord</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de reacciones</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de confesiones</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de recomendaciones</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
              <span class="list-name">❌ Twitch Bot</span>
              <span class="icon cross"><i class="fas fa-times"></i></span>
            </li>
        </ul>
        <div class="premium_all"><span class="icon cross"><i class="fa fa-angle-down"></i></span></div>
      </div>
      <div class="table ultimate">
        <div class="head_tab"><h2>Plan <br>Ultimate</h2></div>
        <div class="aj_p"><p>Plan perfecto para grandes streamers</p></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">20<span style="font-size:12px">/mes</span></span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <div class="btn"><button>Comenzar!</button></div>
          <li>
            <span class="list-name">✔️ Bot de discord personalizado</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de reacciones</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de confesiones</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">✔️ Herramienta de recomendaciones</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
              <span class="list-name">✔️ Twitch Bot</span>
              <span class="icon cross"><i class="fas fa-times"></i></span>
            </li>
        </ul>
        <div><span class="icon cross"><i class="fa fa-angle-down"></i></span></div>
      </div>
    </div>
  </div>